<section class="nav-top fixed-top top-menu" style="background-color: blue;">
 
  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">
      <img class="logo" src="frontend/img/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item nav-active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link <%= path === '/' ? 'nav-active' : '' %>" href="/">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/gallery' ? 'nav-active' : '' %>" href="/gallery">gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/events' ? 'nav-active' : '' %>"  href="/events">events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/blog' ? 'nav-active' : '' %>"  href="/blog">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/reserv' ? 'nav-active' : '' %>"  href="/reserv">reserv</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/contact' ? 'nav-active' : '' %>"  href="/contact">contact</a>
        </li>
      </ul>
    </div>
  </nav>
</section>